.info_all{
	margin: 20px 87px;
	text-align: center;
}

.info_introduce{
	width:100%;
	border-bottom: 3px solid #29B6F6;
	text-align: center;
	padding: 0 12px 12px;
}
.info_introduce_title {
	font: 14px;
	border-bottom: 3px solid #B3E5FC;
}
.info_introduce_subtitle {
	text-align:left;
	border-bottom: 1px solid #B3E5FC;
}
.info_introduce_details{
	width:100%;
	text-align: left;
	height: 100%;
	padding: 12px;
}
.info_introduce_skills{
	border:3px dashed #B3E5FC;
	border-radius: 8px;
}

.info_photos {
	min-width:160px;
	border-bottom: 3px solid #29B6F6;
}
.info_photos_img{
	max-width: 280px;
	height: auto;
	margin: auto 3px;
}

.info_contact_button_list{
	margin-top: 5px;
	margin-bottom:5px;
	border-bottom: 3px solid #29B6F6;
}
.info_contact_button{
	text-align:center;
	padding: 5px 15px;
    max-width: 20%;
    display: inline-block;
	cursor:pointer;
	zoom:0.8;
	height:48px;
}
.info_contact_button:hover{
	zoom:1.0;
}

.info_download{
	min-width: 200px;
}
.info_download_more{
	margin:12px 0;
}

.popup_body {
	background: #eee;
	border-radius: 5px;
    margin: 0 -12px -24px;
}
.popup_body_skill {
	padding: 15px 8px 10px;
}
.popup_body_desc {
	padding: 10px 8px 15px;
}
.focusColor{
	color: rgb(0,178,112);
	display: inline-block;
}
.remarkText{
	font-size: 12px;
}
.keyText{
	border: 2px solid rgb(0,178,112);
    background: #ee0;
    border-radius: 3px;
    color: #333;
}
.home_default_div {
	text-align: center;
}